* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color : #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
