footer {
    display: flex;
    border-top: 1px solid #CCCCCC;
    height: 60px;
    width: 100%;
    background-color: white;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
    bottom: 0;
    position: fixed;
}

.footText {
    text-align: center;
    display: flex;
    align-items: center;
}