footer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 15; 
    grid-row-end: 16;
    grid-template-rows: repeat(3, 20px);
    border-top: 1px solid #CCCCCC;
    height: 60px;
    width: 100%;
    background-color: white;
    position: absolute;
}

.footText {
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
}
