* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    color : #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    height:100%;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    height: 250%;
}