.places {
    width: 100%;
    position: absolute;
    display: grid;
    margin-top: 20px;
    grid-row-start: 4;
    grid-row-end: 10;
    grid-column-start: 3;
    grid-column-end: 11;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 390px);
    grid-row-gap: 10px;
    grid-column-gap: 30px;
}

.places h1 {
    font-size: 30px;
    text-align: left;
    grid-column-start: 0;
    grid-column-end: 1;
    padding: 15px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
    grid-row-start: 2;
}

.places article:nth-child(2) {
    grid-column: 0 / 2;
    grid-row: 2;
}

.places article:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2;
}

.places article:nth-child(4) {
    grid-column: 0 / 2;
    grid-row: 3;
    margin-left: 60%;
}

.places h2 {
    font-size: 30px;
    text-align: center;
}
